@{
	Layout = null;
}
<!DOCTYPE html>
<html ng-app="phonecatApp">
<head>
	<script type="text/javascript" src="~/Scripts/angular.js"></script>
	<script type="text/javascript" src="~/Scripts/app.js"></script>
	<script type="text/javascript" src="~/Scripts/phone-list/phone-list.component.js"></script>
</head>
<body>
	<phone-list></phone-list>
</body>
</html>
