@using ShopPrototype.Modules.Search.Models
@model SearchModel

@{
	ViewData["Title"] = "Поиск";
}

<h3>Услуга</h3>

<ul class="list-group">
	@Html.EditorFor(m => m.Items)
</ul>

<button class="btn btn-default">Далее</button>

<h3>Время</h3>

<div class="container" style="width:300px;">
	<div class='input-group date' id='datetimepicker1'>
		<input type='text' class="form-control" style="width:100%" />
		<span class="input-group-addon">
			<span class="glyphicon glyphicon-calendar"></span>
		</span>
	</div>
</div>

<h3>Место</h3>

<div class="container" style="width:300px;">
	<div class='input-group date' id='datetimepicker1'>
		<input type='text' class="form-control" style="width:100%" />
		<span class="input-group-addon">
			<span class="glyphicon glyphicon-search"></span>
		</span>
	</div>
</div>

@section scripts{ 
<script type="text/javascript">
            $(function () {
            	$('#datetimepicker1').datetimepicker({ locale: 'ru' });
            });
</script>
}