@using ShopPrototype.Modules.Admin.Models
@model SalonsList

@{
    ViewBag.Title = "Список салонов";
}

<h2>@ViewBag.Title</h2>

<div>
	@Html.ActionLink("Создать", "CreateSalon")
</div>

@Html.DisplayFor(m => m)

