@using ShopPrototype.Modules.Search.Models
@model SearchModel

@{
    ViewBag.Title = "Поиск";
}

<h2>@ViewBag.Title</h2>

<li class="list-group">
	@foreach(var facility in Model.Facilities)
	{
		<li class="list-group-item"><input type="checkbox" />@facility.Title</li>
	}
</li>

