
@{
    ViewBag.Title = "Поиск";
}

<h2>Поиск</h2>

<div class="row">
	<div class="col-sm-12">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Искать...">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Найти</button>
			</span>
		</div>
	</div>
</div>

@section styles{
	<style type="text/css">
		input, select, textarea {
			max-width:none;
		}
	</style>
}

